/**
* @name LilyPichu
* @author Nyria#3863
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://anirastaze.github.io/discord-new/main.css");
/* @import url("https://nyri4.github.io/LilyPichu/main.css"); */

/* Remove decorations */
/* @import url("https://raw.githubusercontent.com/anirastaze/discord-new/main/stuff/overlay.css?token=GHSAT0AAAAAACNBWFTCOH4QAHX7ANJIFG7YZNKO77Q"); */
@import url("https://anirastaze.github.io/discord-new/stuff/overlay.css");

:root {
  /* --- User variables --- */

  /* Jumping GIF */
  --jumping-gif: url("https://i.imgur.com/sIro33z.gif"); /* гифка идл */

  /* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
  --background-tertiary-alt: #101010;

  /* Border-radius for the whole theme */
  --border-radius: 20px;
}

.theme-dark {
  /* Text */
  --text-normal: #f8e1e5;
  --header-primary: #f8e1e5;
  --interactive-normal: #fab1bd;
  --channels-default: #f8e1e5;

  --text-muted: #e2c1c7;
  --interactive-muted: #ad8c91;

  --header-secondary: #e2c1c7;
  --interactive-hover: #e2c1c7;
  --interactive-active: #e2c1c7;

  /* Background color */
  --background-primary: #222222;
  --background-secondary: #1a1919;
  --background-secondary-alt: #313030;
  --background-tertiary: #111111;
  --background-floating: #221115;
  --background-accent: #c5536c;
  --channeltextarea-background: var(--background-secondary);
  --modal-background: var(--background-primary);
  --background-modifier-hover: #222222;
  --background-modifier-active: #222222;
  --background-modifier-selected: #222222;
  --toast-background: #31272a !important;
  --toast-header: #313030 !important;
  --toast-contents: #1a1919 !important;
  --toast-border: #1a1919 !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-primary);
}
.colorBrand-3cPPsm {
  color: #c5536c;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #c5536c !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.theme-light {
  /* Text */
  --text-normal: #a86373;
  --header-primary: #a86373;
  --interactive-normal: #a86373;
  --channels-default: #a86373;

  --text-muted: #a86373;
  --interactive-muted: #cf92a0;

  --header-secondary: #cf92a0;
  --interactive-hover: #be7d8c;
  --interactive-active: #b36f7f;

  /* Background color */
  --background-primary: #ffffff;
  --background-secondary: #ffeeee;
  --background-secondary-alt: #fdc7c7;
  --background-tertiary: #ffbbbb;
  --background-floating: #ffbbbb;
  --background-accent: #c5536c;
  --channeltextarea-background: var(--background-secondary);
  --background-modifier-hover: rgba(56, 31, 31, 0.062);
  --background-modifier-active: rgba(19, 12, 12, 0.123);
  --background-modifier-selected: rgba(31, 21, 21, 0.11);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #c5536c !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

:root .app_de4237::before {
  top: 40px;
  right: 68px;
  width: 300px;
  height: 160px;
  background: url("https://i.imgur.com/sIro33z.gif") no-repeat;
  background-size: 100%;
}

:root .app_b1f720::before {
  left: 0;
  top: 0;
  width: 500px;
  height: 250px;
  background: url("https://i.imgur.com/sIro33z.gif") no-repeat;
  background-size: 100%;
}

:root .membersWrap__90226::before {
  content: "Мои малышки";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

:root .ready__61f2f + .text__32559::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: var(--jumping-gif) center/80% no-repeat;
}

.container__037ed::after {
    content: "";
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    z-index: -2;
    width: 320px;
    background-color: var(--background-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--text-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
    background: url("https://media1.tenor.com/m/VeTdVYdRIcwAAAAd/cat.gif") no-repeat center center;
    
    background-size: cover;
    
  }

    :root .nowPlayingColumn_f5023f::before {
    content: "а)ктивность";
    position: absolute;
    top: -60px;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: var(--header-primary);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }